*{
    padding: 0%;
    margin: 0%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 10px;
}
input{
    border: 2px wheat solid ;
    outline: none;
}
button{
    padding: 5px 10px;
}

h1{
    color: blue;
    background-color: pink;
    margin-top: 20px;
}